/* Divisoria */

.divisoria {
    position: absolute;
    top: 0px;           /* ajuste a altura onde ela deve ficar */
    left: 50%;
    transform: translateX(-50%); /* centraliza horizontalmente */
    width: 100%;           /* largura da linha */
    z-index: 10;          /* fica acima do fundo */
}

.divisoria hr {
    width: 100%;
    border: none;
    border-top: 2px solid #C0C0C0;
    margin: 0;
}

/* Background */

.background {
    width: 100%;
    min-height: 170vh;
    position: relative;
    overflow: hidden;
}

.box {
    position: relative;
    display: grid;
    place-items: center;
    padding: 0;
    min-height: inherit;
}

.box-img {
    position: absolute;
    inset: 0;
    background: url('../img/bg1.png') no-repeat center center;
    background-size: cover;
    z-index: 0;

    display: grid; /* grid apenas para organizar os filhos */
    grid-template-columns: repeat(3, 400px); /* 2 colunas (largura fixa dos cards)*/
    justify-content: center; /* centraliza horizontalmente o grid */
    align-content: center; /* centraliza verticalmente dentro da área */
    gap: 40px; /* espaçamento entre cards */
    padding: 0; /* não “empurra” o fundo */
}

/* Card */

.hero {
    display: inline-block;
    position: relative;
    width: 400px;
    min-width: 400px;
    height: 400px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    margin: 30px;
}

.hero-profile-img {
    height: 70%;
    background-size: cover;
}

.hero-description-bk {
    background-image: linear-gradient(0deg, #000000, #ffffff);
    border-radius: 30px;
    position: absolute;
    top: 55%;
    left: -5px;
    height: 65%;
    width: 108%;
    transform: skew(19deg, -9deg);
}

.first .hero-description-bk {
    background-image: linear-gradient(0deg, #d3891b, #004d81);
}

.second .hero-description-bk {
    background-image: linear-gradient(0deg, #d3891b, #008141);
}

.third .hero-description-bk {
    background-image: linear-gradient(0deg, #d3891b, #c23d00);
}

.fourth .hero-description-bk {
    background-image: linear-gradient(0deg, #d3891b, #a18900)
}

.fifth .hero-description-bk {
    background-image: linear-gradient(0deg, #d3891b, #4b00a1)
}

.sixth .hero-description-bk {
    background-image: linear-gradient(0deg, #d3891b, #1b8800)
}

.seventh .hero-description-bk {
    background-image: linear-gradient(0deg, #d3891b, #9e001a)
}

.eighth .hero-description-bk {
    background-image: linear-gradient(0deg, #d3891b, #1b8800)
}

.hero-logo {
    height: 80px;
    width: 80px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    bottom: 30%;
    left: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
}

.hero-logo img {
    height: 100%;
}

.hero-description {
    position: absolute;
    color: #fff;
    font-weight: 900;
    left: 200px;
    bottom: 26%;
}

.hero-date {
    position: absolute;
    color: #fff;
    left: 30px;
    bottom: 10%;
}

.hero-date h1 {
    font-size: 18px;
}

.hero-btn {
    position: absolute;
    color: #fff;
    right: 30px;
    bottom: 10%;
    padding: 10px 20px;
    border: 1px solid #fff;
}

.hero-btn a {
    color: #fff;
}

/* Notebook */

@media only screen and (max-width: 1280px) {

    .box {
        height: 693px;
    }

    .box-img {
    grid-template-columns: repeat(2, 400px); /* colunas, largura dos cards */
    }

    .background {
    min-height: 250vh;
    }

}

@media only screen and (max-width: 1024px) {

    .box {
        height: 693px;
    }

    .box-img {
    grid-template-columns: repeat(2, 400px);
    }

    .background {
    min-height: 160vh;
    }

}

@media (max-width: 768px) {

    h1 {
        font-size: 18px;
    }

    h3 {
        font-size: 45px;
    }

    .box-img {
        grid-template-columns: repeat(1, 400px);
        gap: 0px;
    }

    .background {
    min-height: 180vh;
    }

    .hero {
    margin: 0px 0px 20px 0px;
    }

}

/* Mobile */

@media only screen and (max-width: 430px) {

    h1 {
        font-size: 18px;
    }

    h3 {
        font-size: 45px;
    }

    .box-img {
        grid-template-columns: repeat(1, 400px);
        gap: 0px;
    }

    .background {
    min-height: 330vh;
    }

}