/* Texto */

@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Cantora+One&family=Pirata+One&family=Skranji:wght@400;700&family=Teko:wght@300..700&display=swap');

@font-face {
  font-family: Morris;
  src: url(https://cdn.statically.io/gh/EmmesCodes/Tipografias/dae9f5bb/MorrisInitials.ttf);
}

h1 {
    font-family: "Skranji", system-ui;
    color: #ffffff;
    font-weight: 700;
    font-size: 60px;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

h2 {
    font-family: "Cantora One", sans-serif;
    color: #ffffff;
    font-size: 25px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

h3 {
    font-family: "Teko", sans-serif;
    color: #ffffffe5;
    font-size: 40px;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

h4 {
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
}

h5 {
    font-family: "Bilbo Swash Caps", cursive;
    color: #7F3300;
}

/* Corpo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0A0804;
    margin-bottom: 0;
}

/* Header */

header {
    position: absolute;
    top: 1.5%;
    left: 1%;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 30px 0px;
    border-radius: 10px;
}

header > a {                 
  display: block;
  width: max-content;        
  margin: 0 auto;
}

header .logo {
    height: 8em;
    width: auto;
    display: block;
    justify-items: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

header .container {
    padding: 10px 100px;
    background-color: rgba(36, 36, 36, 0);
}

.container ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}

.container {
    display: flex;
}

.container h2 {
    transition: 0.4s;
}

.container h2:hover {
    color: #8B4513;
}

.container li {
    list-style: none;
    margin-right: 2rem;
}

.container a {
    position: relative;
    margin: 0 15px;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    text-decoration: none;
}

.container a,
.container a:hover,
.container a:focus,
.container a:active {
    text-decoration: none !important; /* remove sublinhado do BS */
    outline: none !important;         /* remove focus padrão */
    box-shadow: none !important;      /* remove glow azul do BS */
}

.container a h2 {
    text-decoration: none !important;
}

.container li:hover {
    color: #8B4513;
}

.menu-faketrigger {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 16px;
    right: 16px;
    display: none;
}

.menu-faketrigger:checked~.menu-lines span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.25);
}

.menu-faketrigger:checked~.menu-lines span:nth-child(2) {
    opacity: 0;
}

.menu-faketrigger:checked~.menu-lines span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);
}

.menu-faketrigger:checked~.container {
    display: block;
}

.menu-faketrigger:checked~a {
    display: none;
}

.menu-lines {
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
    top: 30px;
    right: 16px;
    display: none;
}

.menu-lines span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 9px;
    background-color: #FFFFFF;
    border-radius: 3px;
    transition: all ease .2s;
    display: none;
}

/* Banner */

.banner {
  width: 100%;
  height: 60vh; /* px se quiser mover de outras formas */
  background-image: url(../img/bg0.jpg);
  background-size: cover;
  background-position: center top; /* onde ta TOP pode usar % */
}

.content {
  text-align: center;
  padding-top: 450px;
}


.banner img{
    margin-top: 150px;
    max-width: 350px;
    width: 98%;
    height: 98%;
}

/* Main */

.main{
    position: relative;
    background-color: #0A0804;
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Footer */

.footer {
    background-color: #0A0804;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    padding: 70px 0;
}

.footer a {
    color: #FFFFFF;
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 2.8rem;
    transition: 0.4s;
    text-decoration: none;
}

.footer a:hover {
    color: #8B4513;
}

.footer p {
    margin-top: 1rem;
}

.footer-content {
  display: flex;
  align-items: center;       /* alinha logo e textos no meio vertical */
  justify-content: center;
  gap: 20px;                 /* espaço entre logo e texto */
}

.footer-logo {
  width: 100px; /* Tamanho da logo */
  height: auto;
}

.footer-text {
  display: flex;
  flex-direction: column;    /* empilha p e link */
  align-items: flex-start;   /* textos alinhados à esquerda */
  line-height: 2;
}

.footer-text p {
  color: #FFFFFF;
  font-size: 1rem;
  margin: 0;
}

.footer .privacy-link {
  color: #FFFFFF;
  font-size: 0.8rem;  
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer .privacy-link:hover {
  text-decoration: underline;
}

/* Voltar */

.social {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.voltar {
    text-decoration: none;
    color: #fff;
    width: 10rem;
    height: 1rem;
    font-size: 3rem;
    margin-left: 20rem;
    font-family: 'Aladin', cursive;
    transition: .5s;
}

.voltar:hover {
    color: #826334;
}

/* Resolucao */

@media only screen and (max-width: 1366px) {

    .content {
    padding-top: 320px;
    }
}

@media only screen and (max-width: 1280px) {

    .content {
    padding-top: 370px;
    }
}

@media only screen and (max-width: 1024px) {

    .container {
    display: none;
    }

    header .logo {
    height: 3.5em;
    }

    .menu-lines {
    display: block;
    }

    .menu-lines span {
    display: block;
    }

    .menu-faketrigger {
    display: block;
    } 

    .container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;                    
    text-align: center;
    padding: 20px;
    }
  
    header .container li {
    margin: 0;                    
    }

    .container h2 {   
    font-size: 25px;
    } 

    header .container {
    width: 100%;
    text-align: center;             
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;                  
    padding-top: 50px;             
    }

    .content {
    padding-top: 520px;
    }
}

@media only screen and (max-width: 1024px) {

    .container {
    display: none;
    }

    header .logo {
    height: 3.5em;
    }

    .menu-lines {
    display: block;
    }

    .menu-lines span {
    display: block;
    }

    .menu-faketrigger {
    display: block;
    } 

    .container ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;                    
    text-align: center;
    padding: 20px;
    }
  
    header .container li {
    margin: 0;                    
    }

    .container h2 {   
    font-size: 25px;
    } 

    header .container {
    width: 100%;
    text-align: center;             
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;                  
    padding-top: 50px;             
    }

    .content {
    padding-top: 300px;
    }

}

@media only screen and (max-width: 430px) {

    .container ul {
    grid-template-columns: 1fr 1fr 1fr;
    }

    .content {
    padding-top: 380px;
    }
 
    .footer-logo {
    width: 80px;
    margin-left: -15px;
    }

    .footer-content {
    gap: 0px;
    }

    .footer-text p {
    font-size: 0.8rem;
    width: 160px;
    }

    .footer .privacy-link {
    font-size: 0.6rem;  
    }
}